<!DOCTYPE html>

<html>
    <head>
        <title>Container</title>
    </head>
    <body>
        <div class="container">
            
            <p> This is the p tag in the container</p>
        </div>
    </body>
</html>